<h1>Orders</h1>
<%= link_to "New Order", new_job_path, class: 'btn btn-primary' %>
<%= render @jobs %>

<h1>Apps</h1>
<% if @apps.count > 0 %>
    <%= render @apps %>
<% else %>
    <p>Request access to apps.</p> 
<% end %>
